@import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background-color: black;
    font-family: 'Fira Code', monospace;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    overflow: hidden;
}

.container a {
    text-decoration: none;
    color: white;
    display: inline;
    font-size: 30px;
    font-weight: bold;
}

.container i:hover,
.app__name {
    color: rgb(95, 93, 177);
}
.container h1 {
    display: block;
}