@import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background-color: black;
    font-family: 'Fira Code', monospace;
}

.navbar {
    position: fixed;
    color: white;
    left:0;
    top:0;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar__logo {
    padding: 20px;
    font-size: 20px;
}

.navbar__burger {
    display: inline-block;
    cursor: pointer;
    padding: 20px;
}

.site-menu {
    position: fixed;
    color: white;
    left:0;
    top:0;
    z-index: 4;
    width:100%;
    height:100vh;
    overflow: hidden;
    background: #454545;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s ease;
    pointer-events: all;
}

.site-menu.hidden {
    opacity:0;
    transform:translateX(-100%);
    pointer-events: none;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    border-radius: 2.5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.3s ease;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 6px);
    transform: rotate(-45deg) translate(-8px, 6px);
}

.change .bar2 {
    -webkit-transform: translateX(-20px);;
    transform: translateX(-20px);
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
}

.container__item {
    margin-bottom: 10px;
}

.container a,
.info__icon {
    text-decoration: none;
    color: white;
    display: inline;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.container i:hover,
.app__name {
    color: rgb(95, 93, 177);
}
.container h1 {
    display: block;
}

.app__info {
    color: white;
    font-size: 27px;
}

.more-info {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    background: black;
    color: white;
    border: 7px solid white;
    width: 50%;
    height: 50%;
    padding: 20px;
    padding-top: 40px;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    pointer-events: all;
}

.more-info--hidden {
    transform: translate(-50%, -50%) scale(0);
    pointer-events: none;
    transition: 0.3s ease; 

}

.more-info__close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 15px;
    color: white;
    font-weight: bold;
    border-left: 5px solid white;
    border-bottom: 5px solid white;
    cursor: pointer;
}

.more-info__close:hover {
    opacity: 0.8;
}

@media (max-width: 900px) {
    .navbar__burger {
        transform: scale(0.5);
    }
    
    .navbar__logo {
        font-size: 13px;
    }

    .container a,
    .info__icon {
        font-size: 13px;
    }

    .app__info {
        font-size: 12px;
    }
}




