@import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap');

:root {
    --main-bg-color: #000;
    --main-color: #fff;
    --hover-color: rgb(95, 93, 177);;
    --nav-bg-color: #454545;
}

/*
    var(--main-bg-color)
    var(--main-color)
    var(--hover-color)
    var(--nav-bg-color)
*/


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.my-element {
    
}


body {
    background-color: var(--main-bg-color);
    background-image: radial-gradient(100% 177.78% at 100% 100%, #1F1F1F 0%, #333331 100%);;
    font-family: 'Fira Code', monospace;
    padding-bottom: 50px;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
}

.copyright {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    color: var(--main-color);
}

.copyright a {
    color: var(--main-color);
    text-decoration: none;
}

.copyright a:hover {
    color: var(--hover-color);
}

.navbar {
    position: fixed;
    color: var(--main-color);
    left:0;
    top:0;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar__logo {
    padding: 20px;
    font-size: 20px;
}

.navbar__burger {
    display: inline-block;
    cursor: pointer;
    padding: 20px;
}

.site-menu {
    position: fixed;
    color: var(--main-color);
    left:0;
    top:0;
    z-index: 4;
    width:100%;
    height: 100%;
    overflow: hidden;
    background: var(--nav-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s ease;
    transform:translateX(0%);
    left: -100%;
    opacity:0;
    
}

.site-menu.shown {
    opacity:1;
    pointer-events: all;
    transform:translateX(100%);
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    border-radius: 2.5px;
    background-color: var(--main-color);
    margin: 6px 0;
    transition: 0.3s ease;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 6px);
    transform: rotate(-45deg) translate(-8px, 6px);
}

.change .bar2 {
    -webkit-transform: translateX(-20px);;
    transform: translateX(-20px);
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
    font-size: 24px;
}

.container__item {
    margin-bottom: 10px;
}

.container a,
.info__icon {
    text-decoration: none;
    color: var(--main-color);
    display: inline;
    font-weight: bold;
    cursor: pointer;
}

.container i:hover,
.app__name {
    color: var(--hover-color);
}
.container h1 {
    display: block;
}

.app__info {
    color: var(--main-color);
}

.more-info {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    background: var(--main-bg-color);
    color: var(--main-color);
    border: 2px solid var(--main-color);
    width: 50%;
    height: 50%;
    padding: 20px;
    padding-top: 40px;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    pointer-events: all;
}

.more-info--hidden {
    transform: translate(-50%, -50%) scale(0);
    pointer-events: none;
    transition: 0.3s ease; 

}

.more-info__close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 15px;
    color: var(--main-color);
    font-weight: bold;
    border-left: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    cursor: pointer;
}

.more-info__close:hover {
    opacity: 0.8;
}

@media (max-width: 1100px) {
    .navbar__burger {
        transform: scale(0.7);
    }   
    
    .navbar__logo {
        font-size: 16px;
    }

    .container {
        font-size: 16px;
    }
    .container__item {
        margin: 2px;
    }
}

@media (max-width: 700px) {
    .navbar__burger {
        transform: scale(0.5);
    }
    
    .navbar__logo {
        font-size: 11px;
    }

    .container {
        font-size: 11px;
    }
    
    .container__item {
        margin: 0;
    }
}




